<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Charts</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
</head>

<body>
<br>
<div class="container-fluid">
<div class="container col-md-8 offset-2">
    <form action="http:\\localhost" method="post" class="form-horizontal" th:action="@{'/postcharts'}">
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <h5 class="card-title">Start date</h5>
                    <input name="startdate" type="date" th:value="${request.get(0)}" required="required"
                           pattern="{1,20}" class="form-control">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <h5 class="card-title">End date</h5>
                    <input name="enddate" type="date" required="required" th:value="${request.get(1)}"
                           pattern="{1,20}" class="form-control">
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card">
                    <select name="operator">
                        <option class="dropdown-item" text="all" value="[all]"
                                th:selected="${request.get(2).equals('[all]')}">
                            All operators
                        </option>
                        <option class="dropdown-item" th:each="operator : ${operators}"
                                th:text="${operator.fullName}"
                                th:value="${operator.fullName}" th:selected="${request.get(2).equals(operator.fullName)}">
                            Name
                        </option>
                    </select>
                </div>
                <br>
                <div class="card">
                    <select name="criterion">
                        <option class="dropdown-item" text="filter" value="CSAT"
                                th:selected="${request.get(3).equals('CSAT')}">
                            CSAT
                        </option>
                        <option class="dropdown-item" text="filter" value="AHT"
                                th:selected="${request.get(3).equals('AHT')}">
                            AHT
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="card">
                    <button type="submit" class="btn btn-primary ">Submit</button>
                </div>
            </div>
        </div>
    </form>


<br>
<br>
<div class="row" th:if="${error ne null}">
    <div class="table-responsive">
        <p th:text="${error}"></p>
    </div>
</div>
<div class="col-md-4 offset-4" th:if="${#lists.isEmpty(days)and request.get(4).equals('not null')}">
    <div class="table-responsive">
        <p th:text="${'No data found for chosen period'}"></p>
    </div>
</div>
</div>

    <div class="row " th:if="${request.get(3).equals('CSAT')and not #lists.isEmpty(days) and  error == null}">

        <div class="col-md-8">
            <canvas id="csat_chart">
            </canvas>
            <script type="text/javascript" th:inline="javascript">
                new Chart(document.getElementById("csat_chart"), {
                    type: 'line',
                    data: {
                        labels: /*[[ ${days} ]]*/,
                        datasets: [
                            {
                                label: "Current CSAT",
                                borderColor: '#0275d8',
                                lineTension: 0,
                                fill: false,
                                data: /*[[ ${csats} ]]*/,
                            },
                            {
                                label: "Current DCSAT",
                                borderColor: 'rgb(255, 0, 0)',
                                lineTension: 0,
                                fill: false,
                                data: /*[[ ${dcsats} ]]*/,
                            }

                        ]
                    },
                    options: {
                        responsive: true,
                        // maintainAspectRatio: false,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    userCallback: function (v) {
                                        return v + ' %.'
                                    },
                                    stepSize: 10
                                }
                            }]
                        },
                        tooltips: {
                            callbacks: {
                                label: function (tooltipItem) {
                                    return tooltipItem.yLabel + ' %'
                                }
                            }
                        }
                    }
                });
            </script>
        </div>

        <div class="col-md-4">
            <br>
            <div class="card" style="width: 18rem;">
                <br>
                <img src="../static/images/garniturablue.jpg" th:src="@{/images/stats.jpg}" class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <h6 class="card-title" th:text="${'С '+request.get(0) +'  по  '+request.get(1)}"></h6>
                    <p class="card-text" th:if="${request.get(2).equals('[all]')}"
                       th:text="${'Оценено операторов : '+opers}">Somefjmfhjjhjft.</p>
                    <p class="card-text" th:if="${request.get(2).equals('[all]')}"
                       th:text="${'CSAT = '+averagecsat}">Somefjmfhjjhjft.</p>
                    <p class="card-text" th:if="${request.get(2).equals('[all]')}"
                       th:text="${'DCSAT = '+averagedcsat}">Somefjmfhjjhjft.</p>
                    <p class="card-text" th:if="${not request.get(2).equals('[all]')}"
                       th:text="${request.get(2)+ ' : '}">Somefjmfhjjhjft.</p>
                    <p class="card-text" th:if="${not request.get(2).equals('[all]')}"
                       th:text="${'CSAT = '+averagecsat}">Somefjmfhjjhjft.</p>
                    <p class="card-text" th:if="${not request.get(2).equals('[all]')}"
                       th:text="${'DCSAT = '+averagedcsat}">Somefjmfhjjhjft.</p>
                            </div>
                        </div>
    </div>
    </div>

    <div class="row " th:if="${request.get(3).equals('AHT')and not #lists.isEmpty(days) and  error == null}">
        <div class="col-md-8">
    <h6 class="card-title" th:text="${'С '+request.get(0) +'  по  '+request.get(1)}"></h6>
    <p class="card-text" th:if="${request.get(2).equals('[all]')}"
       th:text="${'Работало операторов : '+opers}">Somefjmfhjjhjft.</p>
    <p class="card-text" th:if="${request.get(2).equals('[all]')}"
       th:text="${'AHT = '+averageaht+'Hold = '+averagehold}">Somefjmfhjjhjft.</p>
    <p class="card-text" th:if="${not request.get(2).equals('[all]')}"
       th:text="${request.get(2)+ ' : '}">Somefjmfhjjhjft.</p>
    <p class="card-text" th:if="${not request.get(2).equals('[all]')}"
       th:text="${'AHT = '+averageaht+'Hold = '+averagehold}">Somefjmfhjjhjft.</p>
        </div>

    </div>

    <div class="row " th:if="${request.get(3).equals('AHT')and not #lists.isEmpty(days) and  error == null}">
    <div class="col-md-8">
        <canvas id="aht_chart">
        </canvas>
        <script type="text/javascript" th:inline="javascript">
                new Chart(document.getElementById("aht_chart"), {
                    type: 'line',
                    data: {
                        labels: /*[[ ${days} ]]*/,
                        datasets: [
                            {
                                label: "Current AHT",
                                borderColor: '#0275d8',
                                lineTension: 0,
                                fill: false,
                                data: /*[[ ${timestats} ]]*/,
                            },
                            {
                                label: "Current Hold",
                                borderColor: 'forestgreen',
                                lineTension: 0,
                                fill: false,
                                data: /*[[ ${hold} ]]*/,
                            },
                            {
                                label: "Target AHT",
                                borderColor: 'rgb(255, 0, 0)',
                                lineTension: 0,
                                fill: false,
                                data: /*[[ ${target} ]]*/,
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        // maintainAspectRatio: false,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    userCallback: function (v) {
                                        return v + ' сек.'
                                    },
                                    stepSize: 50
                                }
                            }]
                        },
                        tooltips: {
                            callbacks: {
                                label: function (tooltipItem) {
                                    return tooltipItem.yLabel + ' сек.'
                                }
                            }
                        }
                    }
                });
        </script>
    </div>

        <div class="col-md-4">
            <canvas id="aht_bar_chart">
            </canvas>
            <script type="text/javascript" th:inline="javascript">
                new Chart(document.getElementById("aht_bar_chart"), {
                    type: 'bar',
                    data: {
                        labels: ["1st Week", "2nd Week", "3d Week", "4th Week", "Month"],
                        datasets: [
                            {
                                label: "AHT (seconds)",
                                backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", 'forestgreen'],
                                data: /*[[ ${ahtbyexperience} ]]*/,
                            }
                        ]
                    },
                    options: {
                        legend: { display: false},
                        title: {
                            display: true,
                            text: 'Average AHT due to experience'
                        }
                    }
                });
            </script>
        </div>



</div>
</div>
    <ul th:each="csat : ${csatstrings}">
        <li th:text="${csat}">text</li>
    </ul>
</div>
</body>
</html>