<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'500 Error')}">
<head>
    <meta charset="UTF-8">
    <title id="pageTitle">500 Error</title>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>500 Превышен допустимый размер файла(5 мб), либо файл не в формате .jpg</h1>
            <p th:text="${exception.getMessage()}">text</p>
        </div>
    </div>
</div>

</body>
</html>