<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'operatorform')}">
<head>
    <meta charset="UTF-8">
    <title id="pageTitle">Operator form</title>
</head>

<body>
<div class="container-fluid">
    <div class="container col-md-6 offset-3">
        <div class="card-body">
            <h5 class="card-title" style="color: #0275d8">Operator form</h5>
                <p4 style="color: red" th:if="${operator.isFired()}">This operator is fired!</p4>
            <div class="row" th:if="${error ne null}">
                <div class="table-responsive">
                    <p th:text="${error}" style="color: red"></p>
                </div>
            </div>
            <br>
            <form th:object="${operator}" th:action="@{'/operators/save'}" method="post"
                  class="form-horizontal">
                <input type="hidden" th:field="*{id}">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p th:text="#{operator.error}">Please Correct Errors Below</p>
                </div>
                <div class="card">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Name:</p>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="name" placeholder="Full name"
                                   th:field="*{fullName}"
                                   th:errorclass="has-error">
                            <span class="help-block" th:if="${#fields.hasErrors('fullName')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('fullName')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-3">
                            <p>Shift:</p>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control" th:field="*{shift}">
                                <option th:each="type : ${T(ru.comearth.russianpost.domain.Shift).values()}"
                                        th:value="${type.name()}"
                                        th:text="${type.name()}"
                                >val
                                </option>
                            </select>

                            <select class="form-control" th:remove="all">
                                <option>SEVEN_AM</option>
                                <option>EIGHT_AM</option>
                                <option>NINE_AM</option>
                            </select>
                        </div>
                    </div>
                    <br>

                    <div class="row">

                        <div class="col-md-3">
                            <p>Employed:</p>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="doe" placeholder="Date of employement"
                                   th:field="*{employementDate}"
                                   th:errorclass="has-error"
                            >
                            <span class="help-block" th:if="${#fields.hasErrors('employementDate')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('employementDate')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                        </div>
                    </div>
                    <br>


                <div class="row" th:if="${operator.isFired()}">
                    <div class="col-md-3">
                        <p>Fire Cause:</p>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" th:field="*{fireCause}">
                            <option th:each="type : ${T(ru.comearth.russianpost.domain.FireCause).values()}"
                                    th:value="${type.name()}"
                                    th:text="${type.name()}"
                            >val
                            </option>
                        </select>

                    </div>
                </div>
                <br>

                <div class="row" th:if="${operator.isFired()}">
                    <div class="col-md-3">
                        <p>Retirement Date:</p>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="dor" placeholder="Date of retirement"
                               th:field="*{retirementDate}"
                               th:errorclass="has-error">
                        <span class="help-block" th:if="${#fields.hasErrors('retirementDate')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('retirementDate')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                    </div>
                </div>
                </div>
                <br>

                <button type="submit" class="btn btn-primary">Submit</button>
                <a  th:if="${not operator.isFired()}" class="btn btn-primary" href="#" th:href="@{'/operators/' + ${operator.id} + '/fireform'}"
                   role="button">Fire</a>
            </form>
        </div>
    </div>

</div>
</body>
</html>